body {
	margin: 0px;
}

#twitch-embed {
	width: 100%;
	height: 100vh;
}

#volume-slider-container {
	bottom: 1px;
	display: inline-block;
	position: relative;
	padding-left: 10px;
	width: 0px;
	height: 0px;
}

#volume-slider {
  -webkit-appearance: none;
  width: 99px;
  height: 4px;
  background-color: rgb(100,100,100);
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 20px;
  background-color: black;
  cursor: pointer;
  opacity: 0;
}

#volume-slider::-moz-range-thumb {
  width: 9px;
  height: 20px;
  background-color: black;
  cursor: pointer;
  opacity: 0;
}

#volume-slider-display {
	width: 4px;
	height: 4px;
	background-color: white;
	position: relative;
	left: 2px;
	bottom: 9px;
	pointer-events: none;
	text-align: right;
	
}

#volume-slider-display-container {
	width: 0px;
	height: 0px;
}

#volume-slider-knob {
	width: 5px;
	height: 12px;
	background-color: white;
	position: relative;
	left: 0px;
	bottom: 19px;
}

#volume-slider-knob-container {
	display: inline-block;
	width: 0px;
	height: 0px;
}

.stream-standard-button {
	height: 20px;
	padding: 10px;
	cursor: pointer;
}

.stream-standard-button-right {
	height: 20px;
	padding: 10px;
	cursor: pointer;
	margin-right: 0px;
	margin-left: auto;
	display: inline-block;
}

#stream-button-right-container {
	float: right;
	height: 0px;
}

#stream-button-volume-container {
	height: 20px;
	padding: 10px 0px 10px 10px;
	display: inline-block;
	width: 35px;
	vertical-align: top;
	cursor: pointer;
	overflow: hidden;
	transition: width 0.3s;
}

#stream-button-volume-container:hover {
	width: 150px;
}

.stream-button-volume {
	margin: 0px;
	height: 20px;
	vertical-align: top;
	position: relative;
	left: 2px;
}

#stream-button-panel {
	position: relative;
	bottom: 40px;
	height: 40px;
	background-image: linear-gradient(0deg, black 0%, rgba(0,0,0,0.7) 65%, transparent 100%);
}

#stream-button-pause {
	display: none;
}

#stream-button-panel-container {
	height: 0px;
	position: relative;
	top: 100%;
	transition: opacity 0.3s;
}

#livestream {
	width: 100%;
	height: 100vh;
	transition: width 0.4s;
}

#livestream-chat-container {
	height: 100vh;
	background-color: white;
	width: 0px;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	left: calc(100% - 0px);
	transition: width 0.4s, left 0.4s;
}

#stream-mouse-detector {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: transparent;
	opacity: 0;
	cursor: pointer;
}

#chat-mouse-detector {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: transparent;
	opacity: 0;
	cursor: pointer;
	display: none;
}

#livestream-container {
	width: 100%;
	height: 0px;
	overflow: hidden;
	transition: height 1s;
}